<div class="row">
  <div class="col-6 float-left" style="height:10px">
    <footer class="py-5" style="height:10px">

        <p class="m-0 text-center">All content © 2019 <a href="{% url 'home' %}">All About Bees</a> North Canterbury</p>

    </footer>
  </div>
  <div class="col-6 float-right" >
    <footer class="py-5 " style="">
      <nav class="navbar-expand-md navbar-light " style="margin:-8px; color:black;">
          <ul class="navbar-nav">
              <li class="footer-li">
                <a class="nav-link" id="navbar-bot"
                   href="{% url 'beeexpo:home' %}">Home</a>
              </li>
              <li class="footer-li">
                <a class="nav-link" id="navbar-bot"
                   href="{% url 'beeexpo:speakers' %}">Speakers</a>
              </li>
              <li class="footer-li">
                <a class="nav-link" id="navbar-bot"
                   href="{% url 'beeexpo:schedule' %}">Schedule</a>
              </li>
              <li class="footer-li">
                <a class="nav-link" id="navbar-bot"
                   href="{% url 'beeexpo:contact' %}">Contact</a>
              </li>
              <li class="footer-li">
                <a class="nav-link" id="navbar-bot"
                   href="{% url 'beeexpo:tickets' %}">Get Tickets</a>
              </li>
          </ul>
    </nav>

  </footer>
 </div>
</div>
