
{% extends "beeexpo/base.html" %}
{% load staticfiles %}
{% block title %}Conference{% endblock %}
{% block conf-content %}

<!-- Page Content -->
    <div class="container">
      <div class="row index-mid">
      <!--  <div class="col-lg-6 portfolio-item">

              <p class="card-text">Welcome to the second annual South Island Bee Conference <br>
                <b>10th August 2019, at Rangiora High School.</b><br></p>
              <p class="card-text index-text">

                This conference is for everybody who is interested in bees
                and our environment.
        -->

                <!-- Day one will be geared towards beekeeping for hobbiest
                and day two will be dedicated to commercial beekeeping.
                You are welcome to attend one or both days.<br> -->

                <!-- <b>Tickets are limited so purchase yours today to secure your place at the conference.</b> -->
        <!--
                <h4 class="text-headers">About</h4>
                We’ll be covering a wide range of topics and the aim is to learn,
                to educate and be educated about bees, to be presented with
                different aspects of bee challenges and bee keeping. There
                will be opportunities for networking, knowledge sharing and
                last but not least to have fun and bring the community together.<br><br>

                <b><h4 class="text-headers">Speakers & Forums</h4></b>
                This year is exciting as we will have international speakers as
                well as kiwi experts to teach us new and alternitive techniques
                for beekeeping.

                <br><br>

                <b><h4 class="text-headers">Exhibitors</h4></b>
                Looking for bee equipment or any bee related products?
                We’ll have an exhibitor’s area for you to purchase
                your bee needs.
          </div>
        -->

        <div class="col-lg-6 portfolio-item">
          <p>
            <b>2019 South Island Bee Conference</b><br><br>

            It has been and gone. It was a fantastic event; fair enough
            we have had to overcome obstacles, 5hs power cut!!<br>
            It was still a very successful day, thanks to all of you.
            Our special thanks go to all our wonderful sponsors.<br><br>
            <h4 class="text-headers"><a href="https://www.ecrotek.co.nz/?gclid=Cj0KCQjw4s7qBRCzARIsAImcAxZTlfnnU3SmwQgXHwnAuLna
            Zjn5mtcEHoEsan3HJP5pYAZpJkR0yy4aAlo0EALw_wcB">Ecrotek:</a></h4> Simon and Alistar: 0800117766
            <br><br>
            <b><a href="https://www.beelinesupplies.co.nz/">Beeline supplies:</a></b><br> all the way from Mosgiel,
            Ardiana & Brian Ph Brian: +64 27 245 6427
            <br><br>

            <b><a href="https://agrisea.co.nz/">Agrisea:</a></b><br> from Christchurch and Tauranga,
             Toni 07 862 842
            <br><br>

            <b><a href="https://www.beequip.nz/?gclid=Cj0KCQjw4s7qBRCzARIsAImcAxbRpNb-
            jIdMoH4BKgMF59RdUNGbsP2D0DAUltCVplui_4bZVWfQs64aAvwqEALw_wcB">Beequip:</a></b><br> from Motueka, Oliver 035289404
            <br><br>

            <b><a href="https://www.kirweebees.co.nz/">Kirwee Bees:</a></b><br>
             Glynn and Nan
            <br><br>

            <b><a href="#">Lovely Honey mobile honey Extractor:</a></b><br>
            033527358
            Eleanor: Queen rearing, Eleanor dickie@gmail.com
            <br><br><br>

            <b>A big thanks</b> to all of you, without you the day would not
            have been so successful.<br>

            Thank you to our speakers: Giani, presented acapella, I
            am not sure, if we would had connected him to the system,
            the fuses would have blown, really good presentation. <br><br>

            <b>Dr, Ngaire Hart:</b> super informative and passionate, the
            love for native bees. Acapella <br><br>

            <b>Marco Gonzales:</b> national operational manager for our
            AFB agency, on Afb we need more presentations and
            discussions. Acapella<br><br>

            <b>Glynn Cleaver:</b> always good to hear, what is gong on
            with our mites. Acapella<br><br>

            <b>Dr David Woodward:</b> super presentation, queen rearing, and
            the power was back.<br><br>

            <b>Dr Otto Boecking:</b> Very informative and interesting
            presentation, somebody said, to me, I don’t want to move,
            just in case I miss something he says! Otto will be back
            from Germany.<br><br>

            <b>Alistar Binney:</b> He is our pop star, I know he has got a fan
            club, good presentation on food for bees.<br><br>

            There is something else, that made this day unforgettable,
            the food, Shirley Holland and her crew, super thank you,
            very yummy.<br><br>
            We are making our recording available!!
          </p>
        </div>
        <br><br>
        <div class="col-lg-6 portfolio-item">

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11615.24402692787!2d172.5988423!3d-43.2972794!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3e799b35f6f2cc80!2sRangiora+High+School!5e0!3m2!1sen!2snz!4v1550605127175" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
      </div>
      <!-- /.row -->
<br>
      <!-- Page Content -->
    <div class="container">

      <h1 class="my-4 text-center text-headers">Principle Sponsor:</h1>

      <div class="row text-center">

        <div class="col">

            <img class="img-fluid img-thumbnail" src="{% static '/allaboutbees/media/placeholder/sponsors/ecrotek_logo.jpg' %}" alt="">

        </div>
      </div>
      <!-- <h3 class="my-4 text-center  text-headers">Other Sponsors:</h3>

      <div class="row text-center">

        <div class="col-lg col-md col-xs-6">

            <img class="img-fluid img-thumbnail" src="{% static '/allaboutbees/media/placeholder/sponsors/farmlands_logo.jpg' %}" alt="">
            <img class="img-fluid img-thumbnail" src="{% static '/allaboutbees/media/placeholder/sponsors/new_world_logo.jpg' %}" alt="">
            <img class="img-fluid img-thumbnail" src="{% static '/allaboutbees/media/placeholder/sponsors/riverside_logo.jpg' %}" alt="">
            <img class="img-fluid img-thumbnail" src="{% static '/allaboutbees/media/placeholder/sponsors/ttb_logo.jpg' %}" alt="">
            <img class="img-fluid img-thumbnail" src="{% static '/allaboutbees/media/placeholder/sponsors/countdown_logo.jpg' %}" alt="">
            <img class="img-fluid img-thumbnail" src="{% static '/allaboutbees/media/placeholder/sponsors/egmont_logo.jpg' %}" alt="">
            <img class="img-fluid img-thumbnail" src="{% static '/allaboutbees/media/placeholder/sponsors/mcalpines_m10_logo.jpg' %}" alt="">
            <img class="img-fluid img-thumbnail" src="{% static '/allaboutbees/media/placeholder/sponsors/rangiora_produce_market_logo.jpg' %}" alt="">
            <img class="img-fluid img-thumbnail" src="{% static '/allaboutbees/media/placeholder/sponsors/southern_wood_nursery_logo.jpg' %}" alt="">
            <img class="img-fluid img-thumbnail" src="{% static '/allaboutbees/media/placeholder/sponsors/warehouse_stationary_logo.jpg' %}" alt="">
            <img class="img-fluid img-thumbnail" src="{% static '/allaboutbees/media/placeholder/sponsors/woodend_nurseries_logo.jpg' %}" alt="">

        </div>

      </div> -->
    </div>
<!-- /.container -->



    </div>

<!-- /.container -->
  <!-- <img src="{% static '/beeexpo/media/expo_logo.jpg' %}" -->
{% endblock %}
