{% extends "beeexpo/base.html" %}
{% block title %}Expo{% endblock %}
{% block conf-content %}
{% load staticfiles %}

<!-- <div class="container index-mid">
  <h3>coming soon</h3>

  </div> -->
<div class="container index-mid">
  <h1 class="text-headers"><u>Saturday – Hobbyist</u></h1>
  <br>
  <table class="table table-hover table-bordered">
    <tdead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Speaker</th>
        <th scope="col">Topic</th>
      </tr>
    </tdead>
    <tbody>
      <tr>
        <td >9:00am</td>
        <td>Opening Ceremony</td>
        <td></td>
      </tr>
      <tr>
        <td>9:30am</td>
        <td>Dr Otto Boecking</td>
        <td>AFB & Pollen</td>
      </tr>
      <tr>
        <td>10:50am</td>
        <td>Morning Tea</td>
        <td></td>
      </tr>
      <tr>
        <td>11:20am</td>
        <td>Randy Oliver via video & Glynn Cleaver</td>
        <td>Oxylic Acid Treatment</td>
      </tr>
      <tr>
        <td>12:40pm</td>
        <td>Lunch</td>
        <td></td>
      </tr>
      <tr>
        <td>1:40pm</td>
        <td>Dr Ngaire Hart</td>
        <td>Native bees</td>
      </tr>
      <tr>
        <td>2:20pm</td>
        <td>Giani</td>
        <td>Planting for Bees</td>
      </tr>
      <tr>
      <tr>
        <td>3:00pm</td>
        <td>Alistiar Binney</td>
        <td>Food for bees</td>
      </tr>      
      <tr>
        <td>3:40pm</td>
        <td>Afternoon Tea</td>
        <td></td>
      </tr>
      <tr>
        <td>4:10pm</td>
        <td>Dr David Woodward</td>
        <td>Genetics</td>
      </tr>
      <tr>
        <td>4:50pm</td>
        <td>Marco Gonzalez</td>
        <td>AFB</td>
      </tr>
      <tr>
        <td>5:30pm</td>
        <td>Forum & Q&A</td>
        <td></td>
      </tr>
    </tbody>
  </table>
<!-- <br>
  <h1 class="text-headers"><u>Sunday - Commercial</u></h1>
  <br>
  <table class="table table-hover table-bordered">
    <tdead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Speaker</th>
        <th scope="col">Topic</th>
      </tr>
    </tdead>
    <tbody>
      <tr>
        <td>9:30am</td>
        <td>Dr Otto Boecking</td>
        <td>AFB</td>
      </tr>
      <tr>
        <td>11:00am</td>
        <td>Morning Tea</td>
        <td></td>
      </tr>
      <tr>
        <td >11:30pm </td>
        <td>Randy Oliver via video & Glynn Cleaver</td>
        <td>Oxylic Acid Treatment</td>
      </tr>
      <tr>
        <td>1:00pm</td>
        <td>Lunch</td>
        <td></td>
      </tr>
      <tr>
        <td>2:00pm</td>
        <td>Dr Ngaire Hart</td>
        <td>Native bees</td>
      </tr>
      <tr>
        <td>2:45pm</td>
        <td>Dr David Woodward</td>
        <td>Genetics</td>
      </tr>
      <tr>
        <td>3:15pm</td>
        <td>Afternoon Tea</td>
        <td></td>
      </tr>
      <tr>
        <td>3:45pm</td>
        <td>Alistiar Binney</td>
        <td>Food for bees</td>
      </tr>
      <tr>
        <td>4:30pm</td>
        <td>Marco Gonzalez</td>
        <td>AFB</td>
      </tr>
      <tr>
        <td>5:15pm</td>
        <td>Forum & Workshops</td>
        <td></td>
      </tr>
      <tr>
        <td>Closing</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table> -->

</div>
{% endblock %}
