{% extends "beeexpo/base.html" %}
{% block title %}Expo{% endblock %}
{% block conf-content %}
{% load staticfiles %}


<div class="container index-mid">
  <div class="row mt-2">
    <div class="col-md-6 col-lg-7">
      <h3 class="text-headers">Dr Otto Boecking (Celle, Germany)</h3>
      <p>Lower Saxony State Office for Consumer Protection and Food Safety
        (LAVES) – Bee Institute Celle, Germany. Dr. Otto Boecking began his
        enthusiasm for bees when he was a young boy and started to keep his
        own bee colonies at the age of ten. He has a diploma in agricultural
        science and a doctorate in apiculuture with specialisations in disease
        and pollination. <br><br>Dr. Otto Boecking has been working for many years
        studying and lecturing at universities throughout Europe supporting
        research for solutions and problem solving for practical beekeeping.
       </p>
    </div>
    <div class="col-md-6 col-lg-5 mt-3 ">
        <img class="img-fluid rounded conference_speaker_img" src="{% static '/allaboutbees/media/conference2019/otto.jpg' %}" alt="">
    </div>
  </div>
  <hr>

  <div class="row mt-2">
    <div class="col-md-6 col-lg-7">
      <h3 class="text-headers">Randy Oliver (Grass Valley, California, United States)</h3>
      <p>Randy started keeping bees as a hobbyist around 1966, and then went
        on to get university degrees in biological sciences, specializing in entomology.
        In 1980 he began to build a migratory beekeeping operation in California,
        and currently run around 1000-1500 hives with his two sons.
       </p>
    </div>
    <div class="col-md-6 col-lg-5 mt-3 ">
        <img class="img-fluid rounded conference_speaker_img" src="{% static '/allaboutbees/media/conference2019/randy.jpg' %}" alt="">
    </div>
  </div>
  <hr>

  <div class="row mt-2">
    <div class="col-md-6 col-lg-7">
      <h3 class="text-headers">Glynn Cleaver (Kirwee, New Zealand)</h3>
      <p>Glynn has been beekeeping for over 10 years, firstly in Marlborough
        and now Canterbury, New Zealand. His bee hives are dotted around the
        Canterbury Plains and in Christchurch City. Many of their hives support
        local Canterbury crop farmers who need bees to pollinate their crops,
        and in turn supply our bees with nectar rich pollens.
       </p>
    </div>
    <div class="col-md-6 col-lg-5 mt-3 ">
        <img class="img-fluid rounded conference_speaker_img" src="{% static '/allaboutbees/media/conference2019/glynn.jpg' %}" alt="">
    </div>
  </div>
  <hr>

  <div class="row mt-2">
    <div class="col-md-6 col-lg-7">
      <h3 class="text-headers">Dr Ngaire Hart (Auckland, New Zealand)</h3>
      <p>Is a New Zealand researcher who focuses on saving native bees.
        Ngaire says her interest in bees came about during her undergraduate
        studies when she was asked to design a tracking device for insects,
        which proved impossible given there was virtually no information on
        any of the 27 native New Zealand species. She has engineered special
        image-processing software which monitored the habitats of the bees to
        see if there was a drop in nests at three sites in Parihaka and Northland.
        <br><br>
        She found the number of active nests reduced about 60 per cent over her
        seven-year research period. Ngaire is the first Māori woman to get a PhD
        from engineering at AUT. She is believed to be only the second Māori
        woman to have the qualification in this field.

       </p>
    </div>
    <div class="col-md-6 col-lg-5 mt-3 ">
        <img class="img-fluid rounded conference_speaker_img" src="{% static '/allaboutbees/media/conference2019/hart.jpg' %}" alt="">
    </div>
  </div>
  <hr>

  <div class="row mt-2">
    <div class="col-md-6 col-lg-7">
      <h3 class="text-headers">Tom Reynolds (Rangiora, New Zealand)</h3>
      <p>Tom may be a young beekeeper, but he has a wealth of knowledge and experience.
        Working as an apprentice under the tutelage of Graham Narby of Waimak Apiaries,
        Tom has built his own population of apairies to approximately 400 hives and is
        coninuting to grow that number.
       </p>
    </div>
    <div class="col-md-6 col-lg-5 mt-3 ">
        <img class="img-fluid rounded conference_speaker_img" src="{% static '/allaboutbees/media/conference2019/tom.jpg' %}" alt="">
    </div>
  </div>
  <hr>

  <!-- <div class="row mt-2">
    <div class="col-md-6 col-lg-7">
      <h3 class="text-headers">Lindsay Moir (Christchurch, New Zealand)</h3>
      <p>Lindsay has been keeping bees as a hobby for over 20 years. He’s
        involved with The Christchurch Hobbyist Bee Club and is currently
        club’s Hive Master. Lindsay is responsible for the health and day to
        day operation of the club hives. He is a DECCA trainer and has been
        for 19 years, he is also a AP2 for exotic surveillance and does AFB
        checking for hobbyist and commercial beekeepers. He has a passion for
        the health and diseases that affect bees.
       </p>
    </div>
    <div class="col-md-6 col-lg-5 mt-3 ">
        <img class="img-fluid rounded conference_speaker_img" src="{% static '/allaboutbees/media/conference2019/.jpg' %}" alt="">
    </div>
  </div>
  <hr> -->

  <div class="row mt-2">
    <div class="col-md-6 col-lg-7">
      <h3 class="text-headers">Dr David Woodward (Amberley, New Zealand)</h3>
      <p>David is managing director of Pollination Lab Ltd a training, consultancy
        and queen bee rearing company. He is a facilitator at Otago Polytechnic
        where he teaches the Graduate Diploma in Tertiary Education (Level 7),
        a teaching qualification. He is a tutor for Taratahi Institute of
        Agriculture and runs the part-time NZ Certificate in Apiculture (Level 3)
        course in Cromwell. He is an industry trainer for Apiculture NZ running AFB disease
        recognition courses in Otago and Southland since 2002.
        <br><br>
        He has recently worked with Primary ITO to develop the unit standards,
        assessments and learning resources for the new on-job beekeeping
        apprenticeship scheme.
       </p>
    </div>
    <div class="col-md-6 col-lg-5 mt-3 ">
        <img class="img-fluid rounded conference_speaker_img" src="{% static '/allaboutbees/media/conference2019/wood.jpg' %}" alt="">
    </div>
  </div>
  <hr>

  <div class="row mt-2">
    <div class="col-md-6 col-lg-7">
      <h3 class="text-headers">Alistair Binney (Tauranga, New Zealand)</h3>
      <p>Alistair is the innovation manager at Ecrotek. He studied biotechnology
        and commerce at Victoria University before starting his career in the
        apiculture industry. Having worked now with both honey packers and bee
        keepers and this has given him a wide foundation of industry knowledge.
        He is both a hobbyist bee keepers with 20 hives and also runs numerous
        trials and study hives for his role. The current research focus is on
        nutrition and maximising output per hive.
       </p>
    </div>
    <div class="col-md-6 col-lg-5 mt-3 ">
        <img class="img-fluid rounded conference_speaker_img" src="{% static '/allaboutbees/media/conference2019/alistair.jpg' %}" alt="">
    </div>
  </div>
  <hr>

  <div class="row mt-2">
    <div class="col-md-6 col-lg-7">
      <h3 class="text-headers">Marco Gonzalez (Lower Hutt, New Zealand)</h3>
      <p>Marco is an AP1 responsible for managing the National AFB surveillance
        and inspection function including the supervision of AP2s. Marco has a
        strong background of AFB management and biosecurity, working as an Apiary
        Officer with AsureQuality from 2006 to 2017, and more recently as a
        Compliance Manager at Midlands Apiaries Ltd.
       </p>
    </div>
    <div class="col-md-6 col-lg-5 mt-3 ">
        <img class="img-fluid rounded conference_speaker_img" src="{% static '/allaboutbees/media/conference2019/marco.jpg' %}" alt="">
    </div>
  </div>

  </div>
  <br><br>

{% endblock %}
