{% autoescape off %}

Hello {{user.get_first_name}},

You're receiving this email because you requested a password reset for your user account at All About Bees.
If you haven't requested a password reset, then ignore this email.

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

Thanks for using our site!
Sincerely,
All About Bees team

{% endautoescape %}
