{% load niji_tags %}
{% load static %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2 col-md-1">
                <img class="user-avatar" src="{% if user.userprofileinfo.profile_picture %}{{ user.userprofileinfo.profile_picture.url}} {% else %} {% static 'allaboutbees/media/placeholder/neutral3.png' %} {% endif %}" alt="">

            </div>
            <div class="col-9 col-md-10">
                <p></p>
                <p style="margin-left:25px;"> {{ user.first_name }} {{ user.last_name }}</p>
            </div>
        </div>
    </div>
</div>
