{% extends "base.html" %}
{% block content %}
<br>

<!-- Page Content -->
<div class="container  space-top">
  <h1 class="text-center">Suppliers </h1>
  <h4 class="text-center">Where to buy the material</h4>
  <hr><br>

  <p>If there are any suppliers you think that the club should know about,
    please contact <a href="mailto:aabeesnc@gmail.com">aabeesnc@gmail.com</a> and we will add it to the website to
    share with the other club members.
</p>

  <br>
  <!-- List -->
    <h5>
      <a class="text-color-black" target="_blank" rel="noopener" href="https://www.ecrotek.co.nz/">
        <img class="mr-2 rounded-circle text-color-black" src="https://placehold.it/50x50"
             alt="">Ecrotek</img>
      </a>
    </h5>
  <div class="media mb-4">
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
  <br>
  <h5>
    <a class="text-color-black" target="_blank" rel="noopener" href="https://beehivesdirect.co.nz/">
      <img class="mr-2 rounded-circle" src="https://placehold.it/50x50"
           alt="">Beehives direct
     </img>
    </a>
  </h5>
<div class="media mb-4">
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
</div>
<br>

  <!-- <div class="media mb-4">
    <h5>
      <a target="_blank" rel="noopener" href="https://www.ecrotek.co.nz/">
        <img class="mr-2 rounded-circle" src="http://placehold.it/50x50"
             alt="">Ecrotek</img>
      </a>
    </h5>

      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>

<br>

  <div class="media mb-4">
    <h5>
      <a target="_blank" rel="noopener" href="https://www.ecrotek.co.nz/">
        <img class="mr-2 rounded-circle" src="http://placehold.it/50x50"
             alt="">Ecrotek</img>
      </a>
    </h5>

      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div> -->

</div>

{% endblock %}
